/* Universal Style Selectors */
* {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Element Selectors */

header {
    text-align: left;
    color: lightblue;
    background-color: darkblue;
    padding: 10px;
}

nav {
    color: white;
    background-color: lightblue;
    text-align: right;
    display: inline;
}

main {
    color: white;
    background-color: lightblue;
    text-align: center;
}

section {
    color: white;
    background-color: lightblue;
    text-align: center;
}


aside {
    background-color: lightblue;  
}


footer {
    color: darkblue;
    text-align: center;
    background-color: lightblue;
}


/* Class Selectors */ 


/* ID Selectors */ 