/* Universal Style Selectors */
* {
    margin: 0;
    padding: 0;
}

/* Element Selectors */ 

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: darkblue;
    background-color: lightblue;
}

header {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 5px solid darkblue
}

footer {    
    text-align: center;
    padding: 20px;
    border-bottom: 5px solid darkblue
}

/* Class Selectors */ 

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-bottom: 5px solid darkblue
}

.hero img {
    height: 250px;
    width: 250px;
}

.about-me {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-bottom: 5px solid darkblue
}

.applications {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-bottom: 5px solid darkblue
}

.firstapplications {
    height: 125%;
    width: 125%;
}

.contact h3 {
    display: flex;
    justify-content: center;
}

.contact ul {
    list-style: none;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
    border-bottom: 5px solid darkblue
}

/* Media Queries */ 

@media screen and (max-width: 425px) {
    body{
        color: darkgreen;
        background: lightgreen;
        border-bottom: 5px solid darkgreen;
    }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
    body{
        color: orange;
        background: lightblue;
    
    }
}
