/* Universal Style Selectors */
* {
    margin: 0;
    padding: 0;
}

/* Element Selectors */ 

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

footer {
    text-align: center;
    padding: 20px;
}

/* Class Selectors */ 

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero img {
    height: 250px;
    width: 250px;
}

.aboutme {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.applications {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.contact {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
}

/* ID Selectors*/ 

#firstapplication {

}

/* Media Queries */ 

@media screen and (max-width: 425px) {
    body{
    
    }
}

@media screen and (max-width: 768px) {
    body{
    
    }
}

@media screen and (max-width: 1024px) {
    body{
    
    }
}
